<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="impact-site-verification" content="9cf4bb9c-f866-4004-8e8a-a63dc4cb98c4">
  <meta name="google-adsense-account" content="ca-pub-4207820857970190">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4207820857970190" crossorigin="anonymous"></script>
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}
</head>
